body {
    background-image: url(imagens/fundo.jpeg);
    font-family: 'Open Sans', sans-serif;
}
nav ul li a {
    color:black!important;
    font-size: 1.2rem;
    text-align: right;
    text-transform: uppercase;
	text-decoration: none;
}
nav ul li a:hover {
    text-shadow: 1px 1px 5px #CCC;
}
.nav-link {
    padding-left: 5rem!important;
}
#perfil {
    color:black;
    padding: 1rem 0 1rem;
}
h1 {
    padding-top: 1rem;
    font-size: 5rem;
    letter-spacing: 0.25rem;
    font-weight: 700;
    padding-left: 15rem;
}
h2{
    color:black;
    font-size: 25px;
}
h3{
    font-size: 20px;
}
.float-right {
    float: right!important;
}
.lead {
    font-size: 1.5rem;
    font-style: italic;
}
.card-text{
    text-transform: uppercase;
	font-weight: 700;
	font-size: 1.1rem;
	color:black;
}
